<!DOCTYPE html>

<html lang="en">

<style>
    * {
        box-sizing: border-box;
    }

    html,
    body {
        margin: 0;
        height: 100%;
    }

    #searchbar {
        position: absolute;
        width: 400px;
        display: flex;
        flex-direction: revert;
        z-index: 2;
        height: 30px;
    }

    #search_input {
        flex: 1 1 0;
    }

    #sidebar {
        width: 400px;
        background: rgba(255, 255, 255, 0.7);
        z-index: 1;
        padding-top: 50px;
        position: fixed;
        top: 0;
        bottom: 0;
        display: none;
    }

    #mapview {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .mapview__link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-size: 2em;
        font-weight: bold;
    }

    .mapview__link:hover {
        color: rgba(0, 0, 0, 0.8);
    }
</style>

<body>
    <form id="searchbar" title="not yet implemented">
        <input type="text" id="search_input" name="query" placeholder="In Google Maps suchen" disabled />
        <input type="text" name="lat" value="{{lat}}" hidden />
        <input type="text" name="long" value="{{long}}" hidden />
        <input type="text" name="zoom" value="{{zoom}}" hidden />
        <input type="text" name="mapType" value="{{mapType}}" hidden />
        <button type="submit" id="search_btn" disabled>&#x1f50d;</button>
    </form>

    <aside id="sidebar">
        Placeholder
    </aside>

    <div id="mapview" style="background-image: url({{mapview_url}})">
        <a id="link_nw" class="mapview__link" href="{{nav_url_nw}}">🢄</a>
        <a id="link_n" class="mapview__link" href="{{nav_url_n}}">🢁</a>
        <a id="link_ne" class="mapview__link" href="{{nav_url_ne}}">🢅</a>
        <a id="link_w" class="mapview__link" href="{{nav_url_w}}">🢀</a>
        <div id="link_placeholder" class="mapview__link"></div>
        <a id="link_e" class="mapview__link" href="{{nav_url_e}}">🢂</a>
        <a id="link_sw" class="mapview__link" href="{{nav_url_sw}}">🢇</a>
        <a id="link_s" class="mapview__link" href="{{nav_url_s}}">🢃</a>
        <a id="link_se" class="mapview__link" href="{{nav_url_se}}">🢆</a>
    </div>
</body>

</html>